<!DOCTYPE html>
<html lang="en">
<head>
 <% include partial/head %> 
</head>
<body>
<% include partial/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <% if(typeof successMsg != 'undefined' && successMsg!="") { %>
<div class="alert alert-success"><%- successMsg %></div>
<% }%>
<% if(typeof errorMsg != 'undefined' && errorMsg!="") { %>
<div class="alert alert-danger"><%- errorMsg %></div>
<% }%>
  
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
<% include partial/footer %>
</body>
<% include partial/script %>

</html>