<!DOCTYPE html>
<html lang="en">
<head>
 <% include partial/head %> 
</head>
<body>
<% include partial/menu %>
<div class="container">    
  <h3><%= page %></h3><br>
  
User Profile.
  

</div>
</body>
<% include partial/script %>
</html>