<!DOCTYPE html>
<html lang="en">
<head>
 <% include partial/head %> 
</head>
<body>
<% include partial/menu %>
<div class="container">    
  <h3><%= page %></h3><br>
  
Welcome to node js logged by <%= userdetail[0].username %>
  

</div>
</body>
<% include partial/script %>
<% include partial/footer %>
</html>