<!DOCTYPE html>
<html lang="en">
<head>
 <% include partial/head %> 
</head>
<body>
<% include partial/menu %>
<div class="container">    
  <h3><%= page %></h3><br>
  

      <form action="/userregistration" method="POST">

    
    <div class="row">
      <div class="col-sm-8">
      <!-- Username -->
      <label for="username">Username</label>
     
        <input type="text" id="username" name="username" placeholder="Please enter username." class="form-control">
       
      </div>
    </div>
 
   <div class="row">
      <div class="col-sm-8">
      <!-- E-mail -->
      <label for="email">E-mail</label>
     
        <input type="text" id="email" name="email" placeholder="Please enter email Id." class="form-control">
      
      </div>
    </div>
 
    <div class="row">
      <div class="col-sm-8">
      <!-- Password-->
      <label for="password">Password</label>
      
        <input type="password" id="password" name="password" placeholder="Please enter password." class="form-control">
        
      </div>
    </div>
 
    <div class="row">
      <div class="col-sm-8">
      <!-- Password -->
      <label for="password_confirm">Confirm Password</label>
      
        <input type="password" id="password_confirm" name="password_confirm" placeholder="Please enter confirm password." class="form-control">
       
      </div>
    </div>
 <br/>
    <div class="row">
      <div class="col-sm-8">
      <!-- Button -->
     
        <button class="btn btn-success">Register</button>
      </div>
    </div>

</form>
</div>
</body>
<% include partial/script %>
</html>